import { LitElement, html } from 'lit';
import { customElement, property } from 'lit/decorators.js';
import styles from './{{ name }}.styles';
import baseStyles from '../../lib/base-styles';

/**
 * @status draft
 *
 * @slot - The default slot.
 *
 * @event ds-event-name - An example event.
 *
 * @csspart base - The component's base wrapper.
 *
 * @cssproperty --example - An example CSS custom property.
 */
@customElement('ds-{{ name }}')
export default class Ds{{ properCase name }} extends LitElement {
  static styles = [baseStyles, styles];

  /** An example property. */
  @property() prop = 'example';

  render() {
    return html`
      <div part="base" class="{{ name }}">
        <slot></slot>
      </div>
    `;
  }
}

declare global {
  interface HTMLElementTagNameMap {
    'ds-{{ name }}': Ds{{ properCase name }};
  }
}
