import { LitElement, html } from "lit";
import { customElement, property } from "lit/decorators.js";
import styles from "./{{ noPrefix tag }}.styles";
import baseStyles from "../../lib/base-styles";

/**
 * {{ description }}
 *
 * @status draft
 *
 * @slot - The default slot.
 *
 * @event ds-event-name - An example event.
 *
 * @csspart base - The component"s base wrapper.
 *
 * @cssproperty --example - An example CSS custom property.
 */
@customElement("{{ tag}}")
export default class Ds{{ tagToDsTitle tag }} extends LitElement {
  static styles = [baseStyles, styles];

  /** An example property. */
  @property() prop = "example";

  render() {
    return html`
      <div part="base">
        <slot></slot>
      </div>
    `;
  }
}

declare global {
  interface HTMLElementTagNameMap {
    "{{ tag }}": {{ tagToDsTitle tag }};
  }
}
